@font-face {
    font-family: BirchStd;
    src: url("./../fonts/BirchStd.otf") format("opentype");
}

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    min-height: 100vh;
    background: url("./../assets/bg_body.png");
}

::-webkit-scrollbar {
    width: 15px;
    transition: 0.3s;
}

::-webkit-scrollbar-track {
    background: #212121;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-thumb {
    background: #313131;
    border-radius: 8px;
    border: 1px solid #313131;
}

::-webkit-scrollbar-thumb:hover {
    background: #515151;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.main-header {
    background-image: url("./../assets/bg_header.png");
    position: sticky;
    padding: 5px 0;
    /* width: 100%; */
    /* min-height: 60px; */
}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo_sitename {
    font-size: 36px;
    font-family: "BirchStd";
    color: #fff;
    font-weight: 100;
    /* line-height: 0.556; */
}

.logo_sitename span {
    font-family: inherit;
    color: #b0b0b0;
}

.logo_tagline {
    font-size: 12px;
    color: #686868;
    margin-top: -8px;
    letter-spacing: 0.3px;
    /* line-height: 1.667; */
}

.search_button {
    border: 1px solid #4c4c4c;
    background-color: #000;
    width: 75px;
    height: 28px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    line-height: 1.429;
    margin-left: 5px;
}

.search_text-area {
    border: 1px solid #4c4c4c;
    background-color: #323232;
    box-shadow: inset 0px 2px 3px 0px #00000036;
    width: 350px;
    height: 30px;
    color: #fff;
}

.slider {
    background: #000;
}

.slider .container {
    background: url("./../assets/bg_slider.png");
    min-height: 331px;
    position: relative;
}

.slider_text {
    background-color: rgba(0, 0, 0, 0.514);
    padding: 17px 20px;
    color: #dedede;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-nav {
    background: #000;
    font-size: 11pt;
    font-weight: bold;
}


/* Clearfix если использовать плавающие элементы */

.main-nav::after {
    content: '';
    display: table;
    clear: both;
}

.main-nav li {
    display: inline;
    float: left;
    text-align: center;
}

.main-nav_link {
    color: #fff;
    display: inline-block;
    width: 90px;
    text-align: left;
    text-decoration: none;
    line-height: 30px;
    padding-left: 10px;
    border-right: 1px solid #576979;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.main-nav_link:hover {
    background-color: #ffffff;
    color: #000;
    transition: 0.3s;
}


.main .container {
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px #00000080;
}

.section {
    padding: 0 12px;
}

.section_header {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 0.667;
    color: #838383;
    margin: 10px 0 15px;
}

.section_header::first-letter {
    color: #000;
}

.desctiption {
    padding-top: 9px;
}

.desctiption_header {
    font-size: 30px;
}

.desctiption_text {
    font-size: 13px;
    line-height: 1.538;
}

.desctiption_quote {
    font-size: 13px;
    font-style: italic;
    line-height: 1.54;
    color: #8b8b8b;
    margin: 6px 0 0 23px;
}

.images {
    padding-top: 17px;
}

.images .box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images .box img {
    border: 10px solid #e2e2e2;
    margin: 10px;
}

.lists {
    padding-top: 10px;
}

.lists .box {
    display: flex;
    flex-wrap: wrap;
}

.lists ol,
.lists ul,
.lists dl {
    margin: 0.5em 0;
    padding-left: 40px;
    padding-right: 19px;
    font-size: 13px;
    line-height: 1.6;
}

.lists dl dt {
    font-weight: bold;
}

.lists dl dd {
    margin-left: 40px;
}


.tables{
    margin-top: 34px;
}
.tables table{
    border: solid 1px #d5d5d5;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: justify;
    color: #000000;
}

.tables table thead tr{
    background-color: #efefef;
}
.tables table thead tr th{
    font-weight: bold;
}
.tables table thead tr th,td{
    padding: 10px 0 10px 10px;
    border: solid 1px #d5d5d5;

}
.tables table{
    width: 964px;
    height: 154px;
    background-color: #ffffff;
    border-spacing:0;
}
/* Сверху | Справа | Снизу | Слева */
.forms{
    margin: 24px, 0, 1110px, 10px;
    height: 420px;
}

.forms input[type=text] {
    width: 224px;
    height: 30px;
    padding: 10px 140px 9px 9px;
    box-shadow: inset 0px 2px 3px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #b7b7b7;
    background-color: #ffffff;
    color: #000;
}

.forms .paragraph {
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: justify;
    color: #010101;
}

.forms .select {
    width: 224px;
    height: 30px;
    padding: 7px 5px 5px 8px;
    border: solid 1px #b7b7b7;
    background-color: #ffffff;
}
.forms input #rb,#cb{
    margin-bottom: 15px;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.54;
    letter-spacing: normal;
    text-align: justify;
    color: #000000;
    margin-top: 22px;
}
#input_text{
    width: 304px;
    
    box-shadow: inset 0px 2px 3px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #b7b7b7;
    background-color: #ffffff;
    margin-bottom: 34px;
    padding-bottom: 110px;

}

.a{
    padding: 13px 23px 12px 24px;
    border: solid 1px #000000;
    background-color: #202020;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: justify;
    color: #ffffff;
    text-decoration: none;
}
